/************************************************
   GENERAL
 ************************************************/
a.btn{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 8px 16px;
  border-radius: 20px;
  display: inline-block;
}

/************************************************
   MAIN
 ************************************************/

 /* info app */
.info-app h2{
  color: #0084fd;
  margin-bottom: 32px;
}

.info-app p{
  color: #5a6e7f;
  font-weight: bold;
  margin-bottom: 32px;
}

.info-app .btn{
  background-color: #0084fd;
  padding: 8px 48px;
  font-weight: bold;
}

.info-app .card-dx{
  text-align: center;
}

.info-app .card-dx img{
  width: 200px;
  position: relative;
  bottom: calc(-100% + 200px);
}

.info-app .col:not(:first-child) {
  text-align: center;
}

.info-app .icon{
  color: #0084fd;
  font-size: 4rem;
}

/************************************************
   RESPONSIVE
 ************************************************/

/* TABLET */
@media screen and (min-width: 768px){

  /* info app */
  .info-app .card-dx{
    text-align: left;
  }
}

/* DESKTOP */
@media screen and (min-width: 1200px){

  /* info app */
  .info-app .card-dx{
    text-align: center;
  }
}