/************************************************
   GENERAL
 ************************************************/
html{
  font-family: 'Open Sans', sans-serif;
  font-family: 'PT Sans', sans-serif;
}

img{
  max-width: 100%;
}

a.btn{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 8px 16px;
  border-radius: 20px;
  display: inline-block;
}

/************************************************
   MAIN
 ************************************************/

/* info app */
.info-app h2{
  color: #0084fd;
  margin-bottom: 32px;
}

.info-app p{
  color: #5a6e7f;
  font-weight: bold;
  margin-bottom: 32px;
}

.info-app .btn{
  background-color: #0084fd;
  padding: 8px 48px;
  font-weight: bold;
}

.info-app .card-dx{
  text-align: center;
}

.info-app .card-dx img{
  width: 200px;
  position: relative;
  bottom: calc(-100% + 200px);
}

.info-app .col:not(:first-child) {
  text-align: center;
}

.info-app .icon{
  color: #0084fd;
  font-size: 4rem;
}

/* planing */
.planing-sx{
  color: white;
}

.planing-sx .image{
  text-align: center;
}

.planing-sx h1{
  font-size: 2rem;
  margin-top: 120px;
  margin-bottom: 30px;
}

.planing-dx{
  text-align: center;
}

.planing-dx .card{
  vertical-align:bottom;
}

.planing-dx h2{
  margin: 16px 0;
}

.planing-dx p{
  font-style: italic;
  margin-bottom: 16px;
}

.planing-dx .btn{
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0; /* resetto il padding di default */
  border-radius: 50%;
  background-color: #9792e4;
  color: black;
}

/************************************************
   RESPONSIVE
 ************************************************/

/* TABLET */
@media screen and (min-width: 768px){

  /* info app */
  .info-app .card-dx{
    text-align: left;
  }
}

/* DESKTOP */
@media screen and (min-width: 1200px){

  /* info app */
  .info-app .card-dx{
    text-align: center;
  }

  /* planing */
  .planing .row{
    align-items: flex-end;
  }

  .planing-sx{
    padding-right: 24px;
  }
  .planing-dx{
    padding-left: 24px;
  }
  
}