/************************************************
    GENERAL
 ************************************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

section{
  padding-top: 50px;
  padding-bottom: 50px;
}

/************************************************
    UTILITY
 ************************************************/
.flex-box{
  display: flex;
}

.card{
  width: 100%;
  min-height: 400px; /* debug */
  border-radius: 20px;
  padding: 24px;
}

.debug *{
  border: 1px solid black;
  /* background-color: rgba(255, 0, 0, 0.2); */
}

/************************************************
    HEADER
 ************************************************/
header{
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;

  background-color: #0084fd;
  color: white;
}

header .container{
  justify-content: space-between;
  align-items: center;
  height: 80px; 
  /* imposto una altezza fissa all'header per gestire meglio il fixed */
  padding: 20px 10px;
}

/************************************************
    MAIN
 ************************************************/

main{
  padding-top: 80px;
}

/* section info-app */

.row{
  flex-wrap: wrap;
}

.info-app .card{
  margin-bottom: 24px;
  background-color: #b5ddff;
}

.card.flex-box{
  flex-wrap: wrap;
}

.info-app .card-sx,
.info-app .card-dx{
  width: 100%;
}

/* section planing */
section.planing,
section.benefit{
  background-color: #9792e4;
}

.planing .row{
  flex-direction: column;
}

.planing-sx{
  padding: 24px;
}

.planing .card,
.benefit .card{
  background-color: white;
}

/* section partner */

.partner .card{
  margin-bottom: 24px;
  background-color: #9792e4;
  color: white;

  flex-direction: column;
  align-items: center;
}

.partner .card .image{
  width: 200px;
  height: 200px;
  border-radius: 50%;


  background-color: wheat; /* debug */
}

.partner .card .text{
  margin: 16px;
}

/* section benefit */
.benefit .card{
  margin-bottom: 24px;
}


/************************************************
   RESPONSIVE
 ************************************************/

/* TABLET */
@media screen and (min-width: 768px) {
  body{
    background-color: yellow;
  }
  /* MAIN */
  /* --------------------------------------------------- */
  /* section info-app */
  .info-app .row{
    justify-content: space-between;
  }

  .info-app .card:first-child{
    max-width: calc(100% / 3 * 2 - 12px);
  }

  .info-app .card{
    max-width: calc(100% / 3 - 12px);
  }
  /* section planing */
  /* non cambia */

  /* section partner */
  .partner .card{
    flex-direction: row;
  }

  /* section benefit*/
  .benefit .row{
    justify-content: space-between;
  }

  .benefit .card{
    width: calc( 50% - 12px);
  }
  /* section abous us*/
  /* section started*/
  /* --------------------------------------------------- */
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
  body{
    background-color: red;
  }
  /* HEADER */
  /* --------------------------------------------------- */
  /* change nav bar */
  /* --------------------------------------------------- */

  /* MAIN */
  /* --------------------------------------------------- */
  /* section info-app */
  .info-app .card-sx,
  .info-app .card-dx{
    width: 50%;
  }
  /* section planing */

  .planing .row{
    flex-direction: row;
    max-width: 900px;
  }

  .planing-sx,
  .planing-dx{
    width: 50%;
  }

  /* section partner */
  /* non cambia */

  /* section benefit*/
  .benefit .card{
    width: calc( 100% / 3 - 12px);
    margin-bottom: 24px;
  }
  /* section abous us*/
  /* section started*/
  /* --------------------------------------------------- */
}
