/************************************************
    GENERAL
 ************************************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

section{
  padding-top: 50px;
  padding-bottom: 50px;
}

/************************************************
    UTILITY
 ************************************************/
.flex-box{
  display: flex;
}

.card{
  width: 100%;
  min-height: 400px; /* debug */
  border-radius: 20px;
  padding: 24px;
}

.bkg-color-light-purple{
  background-color: #9792e4;
}

.debug *{
  border: 1px solid black;
  /* background-color: rgba(255, 0, 0, 0.2); */
}

/************************************************
    HEADER
 ************************************************/
header{
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;

  background-color: #0084fd;
  color: white;
}

header .container{
  justify-content: space-between;
  align-items: center;
  height: 80px; 
  /* imposto una altezza fissa all'header per gestire meglio il fixed */
  padding: 20px 10px;
}

/* hamburger menu */
.header-right{
  position: relative;
}
/* checkbox position */
#ham-check{
  position: absolute;
  top: -14px;
  right: -2px;
  z-index: 2;
  opacity: 0.2;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

/* hamburger menu position */
/* middle line */
.hamburger-menu{
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 24px;
  height: 4px;
  right: 2px;
}

/* top line  */
.hamburger-menu::before{
  content: "";
  position: absolute;
  top: -8px;
  background-color: red;
  width: 24px;
  height: 4px;

  transition: all  0.5s ease;
}

/* bottom line */
.hamburger-menu::after{
  content: "";
  position: absolute;
  top: 8px;
  background-color: greenyellow;
  width: 24px;
  height: 4px;

  transition: all  0.5s ease;
}

#ham-check:checked ~ .hamburger-menu{
  background-color: #0084fd;
  /* quando viene cliccato il colore della middle line, è uguale allo sfondo, per nasconderla */
}

#ham-check:checked ~ .hamburger-menu::after{
  background-color: white;
  top: 0;
  transform: rotate(135deg);
}

#ham-check:checked ~ .hamburger-menu::before{
  background-color: white;
  top: 0;
  transform: rotate(45deg);
}

.header-right ul{
  list-style: none;

  /* opacity: 0; */
  /* flex-direction: column; */
}

.header-right li{
  list-style: none;
}

.header-right nav a{
  text-decoration: none;
  color: white;
}

/************************************************
    MAIN
 ************************************************/

main{
  padding-top: 80px;
}

/* section info-app */

.row{
  flex-wrap: wrap;
}

.info-app .card{
  margin-bottom: 24px;
  background-color: #b5ddff;
}

.card.flex-box{
  flex-wrap: wrap;
}

.info-app .card-sx,
.info-app .card-dx{
  width: 100%;
}

/* section planing */

.planing .row{
  flex-direction: column;
}

.planing-sx{
  padding: 24px;
}

.planing .card,
.benefit .card{
  background-color: white;
}

/* section partner */

.partner .card{
  margin-bottom: 24px;
  color: white;

  flex-direction: column;
  align-items: center;
}

.partner .card .image{
  width: 200px;
  height: 200px;
  border-radius: 50%;

  background-color: wheat; /* debug */
}

.partner .card .text{
  margin: 16px;
}

/* section benefit */
.benefit .card{
  margin-bottom: 24px;
}

/* section about-us */
.about-us .row{
  flex-direction: column;
}

.about-sx,
.about-dx{
  width: 100%;
  height: 200px; /* debug */
}

/* section started */
.started-text{
  max-width: 600px;

  height: 200px; /* debug */
}

/************************************************
    FOOTER
 ************************************************/

 footer{
  background-color: #333333;
  color: white;
 }

 footer .container{
  max-width: 450px;
 }


/************************************************
   RESPONSIVE
 ************************************************/

/* TABLET */
@media screen and (min-width: 768px) {
  body{
    background-color: yellow;
  }
  /* MAIN */
  /* --------------------------------------------------- */
  /* section info-app */
  .info-app .row{
    justify-content: space-between;
  }

  .info-app .card:first-child{
    max-width: calc(100% / 3 * 2 - 12px);
  }

  .info-app .card{
    max-width: calc(100% / 3 - 12px);
  }
  /* section planing */
  /* non cambia */

  /* section partner */
  .partner .card{
    flex-direction: row;
  }

  /* section benefit*/
  .benefit .row{
    justify-content: space-between;
  }

  .benefit .card{
    width: calc( 50% - 12px);
  }
  /* section abous us*/
  .about-us .row{
    flex-direction: row;
  }

  .about-sx{
    width: calc(100% / 3 * 2);
  }

  .about-dx{
    width: calc(100% / 3);
  }

  /* section started*/
  /* non cambia */

  /* --------------------------------------------------- */
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
  body{
    background-color: red;
  }
  /* HEADER */
  /* --------------------------------------------------- */
  /* change nav bar */
  /* --------------------------------------------------- */

  /* MAIN */
  /* --------------------------------------------------- */
  /* section info-app */
  .info-app .card-sx,
  .info-app .card-dx{
    width: 50%;
  }
  /* section planing */

  .planing .row{
    flex-direction: row;
    max-width: 900px;
  }

  .planing-sx,
  .planing-dx{
    width: 50%;
  }

  /* section partner */
  /* non cambia */

  /* section benefit*/
  .benefit .card{
    width: calc( 100% / 3 - 12px);
    margin-bottom: 24px;
  }
  /* section abous us*/
  /* non cambia */

  /* section started*/
  /* non cambia */

  /* --------------------------------------------------- */
}
